table{
 width: 100%;
}
.grayRow{
    background-color: #e8ebe9;
}

.row{
    height: 45px;
}

.clickHeader{
    cursor: pointer;
}

table thead tr th {
  height: 45px;
  border-bottom: 1px solid var(--noir, black);
}
table tr td mat-form-field{
    width: 100%;
}

.filterForm{
    width: 100%;

}