table{
 width: 100%;
}
.grayRow{
    background-color: #e8ebe9;
}

.row{
    height: 45px;
}

.clickHeader{
    cursor: pointer;
}

table thead tr th {
  border-bottom: 1px solid var(--noir, black);
}