/* Error: There is no module with the namespace "mat".
 *    ,
 * 10 | /   @include mat.theme-overrides((
 * 11 | |     primary: #005fad,
 * 12 | |     on-primary: #ffffff,
 * 13 | |     primary-container: #d4e3ff,
 * 14 | |     on-primary-container: #001c3a,
 * 15 | |     inverse-primary: #a4c8ff,
 * 16 | |     primary-fixed: #d4e3ff,
 * 17 | |     primary-fixed-dim: #a4c8ff,
 * 18 | |     on-primary-fixed: #001c3a,
 * 19 | |     on-primary-fixed-variant: #004784,
 * 20 | |     secondary: #496080,
 * 21 | |     on-secondary: #ffffff,
 * 22 | |     secondary-container: #d4e3ff,
 * 23 | |     on-secondary-container: #011c39,
 * 24 | |     secondary-fixed: #d4e3ff,
 * 25 | |     secondary-fixed-dim: #b1c8ed,
 * 26 | |     on-secondary-fixed: #011c39,
 * 27 | |     on-secondary-fixed-variant: #314867,
 * 28 | |     tertiary: #7d4a8f,
 * 29 | |     on-tertiary: #ffffff,
 * 30 | |     tertiary-container: #f9d8ff,
 * 31 | |     on-tertiary-container: #320046,
 * 32 | |     tertiary-fixed: #f9d8ff,
 * 33 | |     tertiary-fixed-dim: #edb1ff,
 * 34 | |     on-tertiary-fixed: #320046,
 * 35 | |     on-tertiary-fixed-variant: #633276,
 * 36 | |     background: #fcf8f8,
 * 37 | |     on-background: #1c1b1b,
 * 38 | |     surface: #fcf8f8,
 * 39 | |     surface-dim: #ddd9d9,
 * 40 | |     surface-bright: #fcf8f8,
 * 41 | |     surface-container-lowest: #ffffff,
 * 42 | |     surface-container-low: #f7f3f2,
 * 43 | |     surface-container: #f1edec,
 * 44 | |     surface-container-high: #ebe7e7,
 * 45 | |     surface-container-highest: #e5e2e1,
 * 46 | |     on-surface: #1c1b1b,
 * 47 | |     shadow: #000000,
 * 48 | |     scrim: #000000,
 * 49 | |     surface-tint: #5d5e5f,
 * 50 | |     inverse-surface: #313030,
 * 51 | |     inverse-on-surface: #f4f0ef,
 * 52 | |     outline: #75777a,
 * 53 | |     outline-variant: #c5c7c9,
 * 54 | |     neutral: #797776,
 * 55 | |     neutral10: #1c1b1b,
 * 56 | |     error: #ba1a1a,
 * 57 | |     error-container: #ffdad6,
 * 58 | |     on-error: #ffffff,
 * 59 | |     on-error-container: #410002,
 * 60 | |     surface-variant: #e1e3e5,
 * 61 | |     on-surface-variant: #444749,
 * 62 | |     neutral-variant: #757779,
 * 63 | |     neutral-variant20: #2e3133,
 * 64 | |     inverse-secondary: #b1c8ed,
 * 65 | |     inverse-tertiary: #edb1ff,
 * 66 | |   ));
 *    | '----^
 *    '
 *   tokens.scss 10:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "mat".\a    \2577 \a 10 \2502  \250c    @include mat.theme-overrides((\a 11 \2502  \2502      primary: #005fad,\a 12 \2502  \2502      on-primary: #ffffff,\a 13 \2502  \2502      primary-container: #d4e3ff,\a 14 \2502  \2502      on-primary-container: #001c3a,\a 15 \2502  \2502      inverse-primary: #a4c8ff,\a 16 \2502  \2502      primary-fixed: #d4e3ff,\a 17 \2502  \2502      primary-fixed-dim: #a4c8ff,\a 18 \2502  \2502      on-primary-fixed: #001c3a,\a 19 \2502  \2502      on-primary-fixed-variant: #004784,\a 20 \2502  \2502      secondary: #496080,\a 21 \2502  \2502      on-secondary: #ffffff,\a 22 \2502  \2502      secondary-container: #d4e3ff,\a 23 \2502  \2502      on-secondary-container: #011c39,\a 24 \2502  \2502      secondary-fixed: #d4e3ff,\a 25 \2502  \2502      secondary-fixed-dim: #b1c8ed,\a 26 \2502  \2502      on-secondary-fixed: #011c39,\a 27 \2502  \2502      on-secondary-fixed-variant: #314867,\a 28 \2502  \2502      tertiary: #7d4a8f,\a 29 \2502  \2502      on-tertiary: #ffffff,\a 30 \2502  \2502      tertiary-container: #f9d8ff,\a 31 \2502  \2502      on-tertiary-container: #320046,\a 32 \2502  \2502      tertiary-fixed: #f9d8ff,\a 33 \2502  \2502      tertiary-fixed-dim: #edb1ff,\a 34 \2502  \2502      on-tertiary-fixed: #320046,\a 35 \2502  \2502      on-tertiary-fixed-variant: #633276,\a 36 \2502  \2502      background: #fcf8f8,\a 37 \2502  \2502      on-background: #1c1b1b,\a 38 \2502  \2502      surface: #fcf8f8,\a 39 \2502  \2502      surface-dim: #ddd9d9,\a 40 \2502  \2502      surface-bright: #fcf8f8,\a 41 \2502  \2502      surface-container-lowest: #ffffff,\a 42 \2502  \2502      surface-container-low: #f7f3f2,\a 43 \2502  \2502      surface-container: #f1edec,\a 44 \2502  \2502      surface-container-high: #ebe7e7,\a 45 \2502  \2502      surface-container-highest: #e5e2e1,\a 46 \2502  \2502      on-surface: #1c1b1b,\a 47 \2502  \2502      shadow: #000000,\a 48 \2502  \2502      scrim: #000000,\a 49 \2502  \2502      surface-tint: #5d5e5f,\a 50 \2502  \2502      inverse-surface: #313030,\a 51 \2502  \2502      inverse-on-surface: #f4f0ef,\a 52 \2502  \2502      outline: #75777a,\a 53 \2502  \2502      outline-variant: #c5c7c9,\a 54 \2502  \2502      neutral: #797776,\a 55 \2502  \2502      neutral10: #1c1b1b,\a 56 \2502  \2502      error: #ba1a1a,\a 57 \2502  \2502      error-container: #ffdad6,\a 58 \2502  \2502      on-error: #ffffff,\a 59 \2502  \2502      on-error-container: #410002,\a 60 \2502  \2502      surface-variant: #e1e3e5,\a 61 \2502  \2502      on-surface-variant: #444749,\a 62 \2502  \2502      neutral-variant: #757779,\a 63 \2502  \2502      neutral-variant20: #2e3133,\a 64 \2502  \2502      inverse-secondary: #b1c8ed,\a 65 \2502  \2502      inverse-tertiary: #edb1ff,\a 66 \2502  \2502    ));\a    \2502  \2514 \2500 \2500 \2500 \2500 ^\a    \2575 \a   tokens.scss 10:3  root stylesheet';
}
