@use "@angular/material" as mat;
@use "./styles/_theme-colors.scss" as theme-colors;
@import "tailwindcss";

/* Make sure to import fonts in `<head>` of html */
/*
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto&display=swap');
</style>

OR

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto&display=swap">
*/

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
